:root {
  --primary: #ff740d;
  --secondary: #000000;
  --light: #ffffff;
  --mutual: #767676;
}

.Header {
  color: var(--secondary);
  background-color: var(--light);
  margin-top: 5%;
  height: 40px;
  border-radius: 20px;
}

.Container {
  justify-content: center;
}
html {
  background-color: var(--secondary);
}

.textField {
  color: var(--light);
  background-color: #ffffff;
}

.seperator {
  margin-bottom: 30px;
}
