:root {
  --primary: #ff740d;
  --secondary: #000000;
  --light: #ffffff;
  --mutual: #767676;
}

.Container {
  display: flex;
  justify-content: center;
}
.Header {
  margin-top: 15%;
  color: var(--primary);
}
.HeaderTwo {
  margin-top: 0%;
  color: var(--primary);
}
.submitBtn {
  background-color: var(--primary);
  border-radius: 20px;
  box-shadow: 3px 3px 15px var(--primary);
}
.submitBtn:active {
  background-color: var(--primary);
}
.submitBtn:focus {
  background-color: var(--primary);
  color: var(--light);
}
.submitBtn::after {
  background-color: var(--primary);
  color: var(--light);
}
.submitBtn:hover {
  background-color: var(--primary);
  color: var(--light);
}

.btnNoBG {
  color: var(--light);
}
.img {
  margin-top: 40px;
  width: 105%;
  height: 100px;
}

.textfield {
  color: var(--secondary);
  background-color: var(--light);
  width: 8 0%;
  height: 25px;
  border-radius: 20px;
  font-size: larger;
  text-align: center;
}

.label {
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
}
