:root {
  --primary: #ff740d;
  --secondary: #000000;
  --light: #ffffff;
  --mutual: #767676;
}

.Container {
  justify-content: center;
  position: relative;
  margin-bottom: 100px;
}

.card {
  margin: 5%;
  text-align: start;
  text-align: center;
  border-radius: 20px;
}

.Header {
  color: var(--secondary);
  background-color: var(--light);
  margin-top: 5%;
  height: 40px;
  border-radius: 20px;
}

.title {
  color: var(--secondary);
}
.addBtn {
  position: relative;
  background-color: var(--primary);
  border-radius: 20px;
}
.subtractBtn {
  position: absolute;
  right: 40px;
  background-color: var(--primary);
  border-radius: 20px;
}

.addBtn:hover {
  background-color: var(--primary);
}
.subtractBtn:hover {
  background-color: var(--primary);
}
.newItemBtn {
  color: var(--light);
  background-color: var(--primary);
  border-radius: 20px;
}
.typgraphy {
  margin: 10px;
}
.submitBtn {
  background-color: var(--primary);
  width: 80%;
  border-radius: 20px;
  margin: 20px;
}
.submitBtn:active {
  background-color: var(--primary);
}
.submitBtn:focus {
  background-color: var(--primary);
  color: var(--light);
}
.submitBtn::after {
  background-color: var(--primary);
  color: var(--light);
}
.submitBtn:hover {
  background-color: var(--primary);
  color: var(--light);
}
